/* === default:start === */

  
  html {
    font-size: 62.5%;
  }
  
  body {
    color: var(--common-primary-text);
    background-color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: var(--font-normal);
  }
  
  @media (max-width: 1199px) {
    html {
      font-size: 59.375%;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 56.25%;
    }
  }
  
  @media (max-width: 767px) {
    html {
      font-size: 50%;
    }
  }
  
  @media (max-width: 575px) {
    html {
      font-size: 43.75%;
    }
  
    body {
      font-size: 14px;
    }
  }
  
  a,
  a:hover,
  a:visited {
    color: var(--common-primary-link);
  }
  
  a[href^="tel"] {
    white-space: nowrap;
  }
  
  /* color, background-color */
  .white-text,
  .white-text *,
  .text-white * {
    color: #fff !important;
  }
  
  .white-bg {
    background-color: #fff !important;
  }
  
  .primary-text {
    color: var(--common-primary-text) !important;
  }
  
  .primary-text-light {
    color: var(--common-primary-text-light) !important;
  }
  
  /* .primary-color {
    color: var(--common-primary-color) !important;
  } */
  
  .primary-link {
    color: var(--common-primary-link) !important;
  }
  
  .primary-link-dark {
    color: var(--common-primary-link-dark) !important;
  }
  
  .primary-bg-light {
    background-color: var(--common-primary-bg-light) !important;
  }




  
  .primary-bg-dark {
    background-color: var(--common-primary-bg-dark) !important;
  }
  
  .secondary-text {
    color: var(--common-secondary-text) !important;
  }
  
  .font-light {
    font-weight: var(--font-light) !important;
  }
  
  .font-normal {
    font-weight: var(--font-normal) !important;
  }
  
  .font-medium {
    font-weight: var(--font-medium) !important;
  }
  
  .font-bold {
    font-weight: var(--font-bold) !important;
  }
  
  .font-extra-bold {
    font-weight: var(--font-extra-bold) !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  *[class*="title"] {
    margin-bottom: 10px;
    color: var(--common-primary-text);
    display: block;
    font-weight: var(--font-extra-bold);
  }
  
  a[class*="title"] {
    color: var(--common-primary-link);
  }
  
  h1,
  .title-xxl {
    font-size: 4.8rem;
  }
  
  h2,
  .title-xl {
    font-size: 4rem;
  }
  
  h3,
  .title-lg {
    font-size: 2.6rem;
  }
  
  h4,
  .title-md {
    font-size: 2.4rem;
  }
  
  h5,
  .title-sm {
    font-size: 2.2rem;
  }
  
  h6,
  .title-xs {
    font-size: 2rem;
  }
  
  /* text, color, background */
  /* === buttons:start === */
  .common-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .common-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding: 1.25rem 3.5rem;
    border: 2px solid;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    transition: var(--common-transition);
  }
  
  .common-btn.white,
  .common-btn.white:visited {
    color: var(--common-primary-link);
    background-color: #fff;
    border-color: var(--common-primary-link);
  }
  
  .common-btn.white:hover {
    color: #fff;
    background-color: var(--common-primary-link-dark);
  }
  
  .common-btn.primary,
  .common-btn.primary:visited {
    color: #fff;
    background-color: var(--common-primary-link);
    border-color: var(--common-primary-link);
  }
  
  .common-btn.primary:hover {
    color: #fff;
    background-color: var(--common-primary-link-dark);
  }
  
  .common-btn.cta,
  .common-btn.cta:visited {
    color: #fff;
    background-color: var(--common-danger);
    border-color: var(--common-danger);
  }
  
  .common-btn.cta:hover {
    color: #fff;
    background-color: var(--common-danger-dark);
  }
  
  a[class*="common-btn"]:hover {
    text-decoration: none;
  }
  
  .btn-more {
    display: inline-flex;
    text-decoration: none;
    gap: 5px;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    transition: var(--common-transition);
  }
  
  .btn-more:after {
    content: "\f08e";
    font-family: FontAwesome;
  }
  
  .btn-more:hover {
    text-decoration: none;
  }
  /* === buttons:end === */
  
  /* === common-sec, common-sec--cities === */
  .dvLayout,
  #mainSiteContent,
  .commonPrefooter {
    overflow-x: hidden;
  }
  
  .px-5rem {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  
  .py-10rem {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }
  
  @media (max-width: 767px) {
    .common-sec {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  
    .container.py-5 > .common-sec:first-child,
    .common-sec.common-sec--cities > .common-sec:first-child {
      margin-top: -3rem;
    }
  
    .container.py-5 > .common-sec:last-child,
    .common-sec.common-sec--cities > .common-sec:last-child {
      margin-bottom: -3rem;
    }
  }
  
  @media (max-width: 575px) {
    .common-sec {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  
    .container.py-5 > .common-sec:first-child,
    .common-sec.common-sec--cities > .common-sec:first-child {
      margin-top: -2rem;
    }
  
    .container.py-5 > .common-sec:last-child,
    .common-sec.common-sec--cities > .common-sec:last-child {
      margin-bottom: -2rem;
    }
  }
  
  /* === image, background image === */
  img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  
  img.object-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  img.object-contain {
    object-fit: contain;
  }
  
  img.object-center {
    object-position: center;
  }
  
  .thumb-wrapper {
    display: block;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .thumb-wrapper img {
    border-radius: 10px;
  }
  
  .thumb-wrapper:last-child {
    margin-bottom: 0;
  }
  
  .thumb-wrapper.float-md-left,
  .thumb-wrapper.float-md-right,
  .thumb-wrapper.float-lg-left,
  .thumb-wrapper.float-lg-right {
    width: 100%;
  }
  
  @media (min-width: 992px) {
    .thumb-wrapper.float-lg-right {
      max-width: 50%;
      padding-left: 15px;
    }
  
    .thumb-wrapper.float-lg-left {
      max-width: 50%;
      padding-right: 15px;
    }
  }
  
  @media (min-width: 768px) {
    .thumb-wrapper.float-md-right {
      max-width: 50%;
      padding-left: 15px;
    }
  
    .thumb-wrapper.float-md-left {
      max-width: 50%;
      padding-right: 15px;
    }
  }
  
  figure.thumb-wrapper img + figcaption {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    border: 1px solid var(--common-primary-border);
    border-radius: 5px;
  }
  
  @media (max-width: 991px) {
    [class*="col-lg"] > .thumb-wrapper {
      margin-bottom: 15px;
    }
  }
  
  @media (max-width: 767px) {
    [class*="col-md"] > .thumb-wrapper {
      margin-bottom: 15px;
    }
  }
  
  @media (max-width: 575px) {
    [class*="col-sm"] > .thumb-wrapper {
      margin-bottom: 15px;
    }
  }
  
  .thumb-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .thumb-bg-half-top,
  .thumb-bg-half-bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  
  .thumb-bg-half-top {
    top: 0;
  }
  
  .thumb-bg-half-bottom {
    bottom: 0;
  }
  
  [class*="fixed-bg"] {
    display: flex;
    flex-basis: 100%;
  }
  
  .fixed-bg-start-top {
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .fixed-bg-start-center {
    justify-content: flex-start;
    align-items: center;
  }
  
  .fixed-bg-start-bottom {
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .fixed-bg-end-top {
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .fixed-bg-end-center {
    justify-content: flex-end;
    align-items: center;
  }
  
  .fixed-bg-end-bottom {
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  @media (min-width: 768px) {
    [class*="fixed-bg"] {
      position: absolute;
      width: calc(50% - 15px);
      height: 100%;
      z-index: -1;
    }
  
    [class*="fixed-bg"] img {
      max-height: calc(100% - 50px);
    }
  
    .fixed-bg-start-top {
      left: 0;
      top: 0;
    }
  
    .fixed-bg-start-center {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .fixed-bg-start-bottom {
      left: 0;
      bottom: 0;
    }
  
    .fixed-bg-end-top {
      right: 0;
      top: 0;
    }
  
    .fixed-bg-end-center {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .fixed-bg-end-bottom {
      right: 0;
      bottom: 0;
    }
  }
  
  @media (max-width: 767px) {
    .common-block:has(.fixed-bg-end-bottom) {
      padding-bottom: 0;
    }
  }
  
  /* === vdo-wrapper === */
  .vdo-wrapper {
    position: relative;
  }
  
  .vdo-wrapper img {
    border-radius: 5px;
    width: 100%;
  }
  
  .vdo-btn {
    position: absolute;
    text-align: center;
    color: inherit;
    font-size: 30px;
    border: none;
    height: 80px;
    width: 120px;
    border-radius: 50% / 10%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    background-color: rgb(255 255 255 / 0.5);
    box-shadow: none;
    transition: var(--common-transition);
  }
  
  .vdo-btn .fa-play {
    color: var(--common-danger);
    position: relative;
    z-index: 99;
    -webkit-transition: color var(--common-transition);
    transition: var(--common-transition);
    text-decoration: none;
    line-height: 80px;
  }
  
  .vdo-btn:hover {
    color: inherit;
    background-color: var(--common-danger);
  }
  
  .vdo-btn:hover .fa-play {
    color: #fff;
  }
  
  .vdo-btn:before,
  .vdo-btn:after {
    display: none;
  }
  
  /* === common-card === */
  .common-card {
    height: 100%;
    border-radius: 10px;
  }
  
  .common-card > .thumb-wrapper,
  .common-card *:last-child {
    margin-bottom: 0;
  }
  
  .common-card.body {
    padding: 15px;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  ul li {
    position: relative;
    padding-left: 30px;
  }
  
  ul li + li {
    margin-top: 10px;
  }
  
  ul li:before {
    content: "\f00c";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    color: var(--common-secondary-text);
    top: 5px;
    left: 0;
  }
  
  @media (min-width: 1600px) {
    .count-xxl-1 {
      -webkit-column-count: 1;
      column-count: 1;
    }
  
    .count-xxl-2 {
      -webkit-column-count: 2;
      column-count: 2;
    }
  
    .count-xxl-3 {
      -webkit-column-count: 3;
      column-count: 3;
    }
  
    .count-xxl-4 {
      -webkit-column-count: 4;
      column-count: 4;
    }
  }
  
  @media (min-width: 1200px) {
    .count-xl-1 {
      -webkit-column-count: 1;
      column-count: 1;
    }
  
    .count-xl-2 {
      -webkit-column-count: 2;
      column-count: 2;
    }
  
    .count-xl-3 {
      -webkit-column-count: 3;
      column-count: 3;
    }
  
    .count-xl-4 {
      -webkit-column-count: 4;
      column-count: 4;
    }
  }
  
  @media (min-width: 992px) {
    .count-lg-1 {
      -webkit-column-count: 1;
      column-count: 1;
    }
  
    .count-lg-2 {
      -webkit-column-count: 2;
      column-count: 2;
    }
  
    .count-lg-3 {
      -webkit-column-count: 3;
      column-count: 3;
    }
  
    .count-lg-4 {
      -webkit-column-count: 4;
      column-count: 4;
    }
  }
  
  @media (min-width: 768px) {
    .count-md-1 {
      -webkit-column-count: 1;
      column-count: 1;
    }
  
    .count-md-2 {
      -webkit-column-count: 2;
      column-count: 2;
    }
  
    .count-md-3 {
      -webkit-column-count: 3;
      column-count: 3;
    }
  
    .count-md-4 {
      -webkit-column-count: 4;
      column-count: 4;
    }
  }
  
  @media (min-width: 576px) {
    .count-sm-1 {
      -webkit-column-count: 1;
      column-count: 1;
    }
  
    .count-sm-2 {
      -webkit-column-count: 2;
      column-count: 2;
    }
  
    .count-sm-3 {
      -webkit-column-count: 3;
      column-count: 3;
    }
  
    .count-sm-4 {
      -webkit-column-count: 4;
      column-count: 4;
    }
  }
  
  /*=== faq starts ===*/
  .faq-block details {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
  }
  
  .faq-block details + details {
    margin-top: 15px;
  }
  
  .faq-block details summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .faq-block details summary:after {
    font-size: 20px;
    text-align: center;
  }
  
  .faq-block details summary:after {
    content: "+";
  }
  
  .faq-block details[open] summary:after {
    content: "-";
  }
  
  .faq-block details[open] .expand {
    padding-left: 15px;
    position: relative;
    margin: 0 20px 15px 20px;
    border-left: 2px solid #cecece;
  }
  /*=== faq ends ===*/
  
  /* === accordion starts === */
  .accordion-item {
    padding: 25px;
    border-radius: 15px;
    background-color: #fff;
  }
  
  .accordion-item + .accordion-item {
    margin-top: 1.5rem;
  }
  
  .accordion-button {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    text-align: left;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .accordion-button:focus {
    outline: none;
  }
  
  .accordion-icon {
    float: right;
    font-weight: 700;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-button.active + .accordion-content {
    margin-top: 15px;
  }
  /* === accordion ends === */
  